*{
margin: 0;
padding: 0;
outline: none;

}

body{
width: 100%;
height: 100%;

}

.nav a{
  text-decoration:none;
}
.nav{
  height:70px;
  background:#222;
  position:relative;
}
.nav>ul{
  position:relative;
  list-style:none;
  padding:0;
  margin:0;
  background-color: red;
}
.nav>ul>li>ul{
  position: absolute;
  left:0;
  padding:0;
  margin:0;
  list-style:none;
}
.nav>ul>li:hover>ul li a{
  opacity:1;
  height:50px;
   transition:all .3s linear;
  -o-transition:all .3s linear;
  -moz-transition:all .3s linear;
  -webkit-transition:all .3s linear;
  z-index: 1;
}
.nav>ul>li>ul a{
  display:block;
  color:#222;
  width:150px;
  line-height:50px !important;
  font:700 14px 'pt sans',sans-serif;
  background:#eee;
  border-bottom:1px solid black;
  text-align:center;
  padding:0 5px;
   height:0;
  overflow:hidden;
  opacity:0;
    transition:all .3s linear .2s;
  -o-transition:all .3s linear .2s;
  -moz-transition:all .3s linear .2s;
  -webkit-transition:all .3s linear .2s;
}
.nav>ul>li{
  float:left;
  position:relative;
  z-index: 1;
}
.nav>ul>li>a{
  padding:0 20px;
  color:#fff;
  display:block;
  line-height:70px !important;
  font:400 15px 'PT Sans', sans-serif;
  text-transform:uppercase;
  text-decoration:none;
}



h1{
color: #ffffff;
text-align: center;
background-color: #222;
padding: 30px;
}
.img{

margin-top: 0;
margin-bottom: -20px;
}

pre{

  text-align: center;
  background-color: #cccccc;

}


.dec{

padding-left: 0px;

}
.text{
 padding-left: 25px;
font-size:16px;
background-color: #cccccc;
}

footer{

background-color: #222;
padding: 30px;


}

.novynu{

border: 4px  double black;
padding: 100px;


}

.nav a:hover{

color: silver;


}

.nav li a:hover{
background-color: black;
color:silver ;
text-decoration: underline;
font-size: 18px;
}



.news{
padding: auto;

}
.fot{

  margin-top: 7%;
}

.new{

padding-left: 130px;
padding-right: 50px;
padding-top: 100px;
padding-bottom: 50px
}

.final{
padding-top: 30px;

}


#span{

  position: static;
}



.p1 {
  animation-duration: 12s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.foter1{

margin-top: 40%;

}


.span{
border:4px solid black;
font-size: 20px;
padding: 70px;
margin-left: 7px;

}

.sp{
margin-top: 200px;
margin-bottom: -230px;

}
